@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Helvetica&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url("//db.onlinewebfonts.com/c/d9a58a393d946d86051fbd9a0b594d2f?family=Audrey");
@import url("https://fonts.googleapis.com/css?family=Libre Baskerville");
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
  margin: 0;
  width: 100%;
}


.main_header {
  background-color: #b4e9e153;
  /* text-align: center; */
  padding: 10px;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.headup {
  height: 30px;
  /* align-content: center; */
  background-color: rgb(53, 53, 82);
}

#header_heading {
  padding: 30px;
  color: rgb(25, 6, 95);
  text-align: center;
}

#header_image1 {
  position: relative;
  margin-left: 1%;
  width: 100%;
  height: 100%;
  z-index: 0;
  max-width: 470px;
  align-self: baseline;

}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 2px;
  text-align: center;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.right {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.outer-flex {
  display: flex;
  flex-direction: row;
  padding: 0%;
  /* justify-content: space-between; */
  justify-content: flex-start;
  width: 100%;

}

#flex1 {
  display: flex;
  justify-content: center;
  padding-left: 3vw;

}

.flex1-img {
  display: flex;
  width: 100%;
  padding-left: 0%;
}


/* TOGGLE CSS */
.icon {
  width: 20px;
  color: black;
  border: 2px solid black;
  position: fixed;
}

.hide {
  background: yellow;
  width: 20%;
  height: 100vh;
  /* /z-index: 0; / Stay on top */
  top: 0px;
  /* Stay at the top */
  right: -20%;
  position: fixed;
  transition: 0.5s;
}



#sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 100px;
}

#theme {
  width: 25px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
}



/* Search box */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  border-style: solid;
  border-radius: 20px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {

  .topnav a,
  .topnav input[type=text] {

    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

/* header for paracuit image container */
.header2 {
  background-color: #f7f5f1;
  text-align: center;
  /* background-image: url("https://toaglobal.com/wp-content/uploads/2021/08/Bucket-two-image-560x560-1.png"); */
  /* background-image: linear-gradient(45deg, white, rgb(226, 149, 226)50%); */
  background-position: center;
  /* background-size: 280px 270px; */
  background-repeat: no-repeat;
  padding: 10vw;
  padding-top: 55px;
  padding-bottom: 45px;
}

/* button style */
/* .buttonstyl {
  text-align: center;
  font-size: 1rem;
  color: white;
  padding: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  position: relative;
  font-weight: bold;
  border-radius: 19px;
  border-style: none;
  background-color: red;
  box-shadow: 0px 0px 5px 4px rgba(240, 60, 60, 0.7);
} */

.buttonstyl {
  border-radius: 4px;
  background-color: #c491a5;
  border: none;
  color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  width: auto;
  font-size: 1rem;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 5px 5px gray;

}

.buttonstyl:hover {
  background-color: rgb(203, 14, 96);
  box-shadow: 0 0 20px 0px red;
  border-style: none;
}

.but:hover {
  background-color: rgb(203, 14, 96);
  box-shadow: 0 0 20px 0px rgb(43, 26, 93);
  border-style: none;
}

.buttonstyl span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  position: center;
  transition: 0.6s;
}

.buttonstyl span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonstyl:hover span {
  padding-right: 25px;

}

.buttonstyl:hover span:after {
  opacity: 1;
  right: 0;
}

.header3 {
  background-color: white;
  text-align: center;
  padding: 50px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.textcol {
  color: red;
}

.header4 {
  text-align: center;

  padding: 50px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #4b0865;
  position: relative;
}

.header4::before {
  content: "";
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: url(https://toaglobal.com/wp-content/themes/generatepress_child/images/math-symbols.png);
  background-position: top center;
  position: absolute;
  background-repeat: repeat;
  opacity: 0.1;
}

/* Card header4 */
#card {
  text-decoration: none;
  text-align: start;
  border-radius: 15px;
  margin-bottom: 50px;
  background-color: white;

}

/* #card:hover {
  -ms-transform: scale(1.02); */
/* IE 9 */
/* -webkit-transform: scale(1.02); */
/* Safari 3-8 */
/* transform: scale(1.02); */

/* } */

.text a:hover {
  color: #fff;
  text-decoration: none;
  color: orange;
  font-weight: 400;
  /* font-style: normal; */
}

.text1 a:hover {
  color: #fff;
  text-decoration: none;
  color: black;
  font-weight: 400;
  /* font-style: normal; */
}

/* last cards */
#lastcards {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

/* header 5 */
.header5 {
  background-color: rgb(223, 235, 237);
  text-align: center;
  padding: 50px;
}

#h5matter {
  text-align: left;
  padding-right: 250px;
  justify-content: start;
  padding-left: 20px;
}



/* header6 */
.header6 {
  background-color: #f4d2b9;
  text-align: center;
  margin: 100px 200px 100px 200px;
  padding: 50px;
  padding-top: 45px;
  padding-bottom: 45px;
  width: 40%;
}

#h6image {
  justify-content: center;
  width: 100%;
  max-width: 370px;
}

#h6matter {
  text-align: start;
  justify-content: center;
  padding-left: 10px;

}

/* header7 */
.header7 {
  text-align: center;
}

/* Featuredstories */
.featuredstories {
  background-color: #f4d2b9;
}

/* footer */

.col_white_amrc {
  color: #fff;
}

footer {
  width: 100%;
  background-color: #4a0466;
  letter-spacing: 0.08ch;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  /* font-size: 13px; */
  color: white;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  /* font-size: 14px; */
  padding: 0px 0px 10px 0px;
  /* font-size: larger; */
}

.footer_ul_amrc li {
  padding: 0px 0px 0px 0px;
  display: block;
  width: fit-content;
  padding-bottom: 10px;
}

.footer_ul_amrc li a {
  color: white;
  font-size: 0.8rem;
  display: block;
  padding: 0.2px;
  /* font-size: 10px; */
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
  color: red;
}



/* .fleft {
  float: left;

} */

.padding-right {
  padding-right: 10px;
}


.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  /* display: inline block; */
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.col-lg-2-0 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.flo {
  float: right;
  float: left;
}

.foote_bottom_ul_amrc li {
  display: block;
}

.foote_bottom_ul_amrc li a {
  color: rgb(255, 248, 248);
  margin: 0 12px;
  padding: 2px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  /* float: left; */

}

.social_footer_ul li a {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 254, 254);
  padding: 10px;
  height: 3rem;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 1rem;
  /* height: 0.1rem; */
  text-align: center;
}

/* header */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* HOVER EFFECT */


div a {
  text-decoration: none;
  color: black;
  font-size: 20px;

  padding: 15px;
  display: inline-block;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

ul li:hover ul {
  display: block;
}

ul li ul {
  position: absolute;
  width: 189px;
  display: none;
}

ul li ul li {
  background: white;
  display: block;
}

ul li ul li a {
  display: block !important;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}



.BG {

  background-position: center;
  width: 100%;


}

nav {
  width: 100%;
  justify-content: end;

}

label.logo {
  font-family: 'Poppins';
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: 500;
}

label.logo:hover {
  color: #5eb9ff;
}

nav ul {
  text-align: center;
  float: right;
  margin-right: 10px;
  border-radius: 10px;
  width: 10px;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;

}



nav ul {
  width: 100%;
  text-align: center;
}

nav ul li a {

  text-align: left;
  font-family: 'Poppins';
  color: rgb(8, 5, 5);

}

nav ul li ul li a {
  padding: 2px;
  text-align: left;
  z-index: 5;
  color: white;
}

nav ul li ul li {
  text-align: left;
  padding: 0px;
  width: 90%;
  background: none;
}

nav ul li ul {
  background-color: #333d79ff;
  text-align: left;
  padding: 1rem;
  padding-left: 1rem;
  /* border-style: solid; */
  /* border-color: #ddd; */
  box-shadow: 1px 1px 7px 5px rgb(231, 206, 212);
  transform: rotate3d(0, 1, 0, 35deg);

}

.close-button {
  opacity: -2;
  position: fixed;
  right: 0;
  align-self: center;
  color: red;
}

.close-button:hover {
  text-decoration: none;
  color: red;
  font: bold;
  transform: scale3d(1.5, 1.5, 1.5);
}

nav ul li ul::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #333d79ff transparent;
  position: absolute;
  top: -10px;
  left: 30%;
}

a.active,
a:hover {
  color: #5eb9ff;
  transition: .5s;
}

.toggle-buttons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.navbar-links {
  width: 80%;

}

@media (max-width:768px) {
  .toggle-buttons {
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    position: absolute;
  }

  .show {
    display: contents;
  }

  nav ul {
    padding: 10px;
    background: rgb(5, 5, 20);
    position: fixed;
    top: 0px;
    bottom: -15px;
    right: -10px;
    width: 100%;
    opacity: 2;
    z-index: 3;
    height: auto;
    overflow-y: scroll;
    border-radius: 0;

  }

  .colr {
    color: white;
    text-align: left;
  }

  .colr:hover {
    text-decoration: none;
    color: red;
    text-align: left;
  }

  nav ul li ul li a {
    width: fit-content;
    display: flex;
  }

  nav ul li ul li a:hover {
    background-color: rgb(55, 52, 52);
    border-style: solid;
    border-color: white;
    transform: scale(1.091);

  }

  .close-button {
    font-size: larger;
    font-weight: 900;
    position: absolute;
    top: 5px;
    right: 0px;
    opacity: 2;
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    position: absolute;
  }

  nav ul li {
    text-align: justify;
    width: fit-content;
    font-size: small;
    color: white;
  }

  ul li:hover ul {
    display: contents;
  }

  nav ul li ul li {
    text-align: center;
    padding: 0px;
    width: 100%;
    background: none;
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 80%;

  }

  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 50%;
    flex-direction: row;
  }

  .navbar-links li {
    text-align: center;
    display: block;
    align-items: flex-end;

  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
    flex-direction: row;
  }

  .navbar-links-active {
    display: block;
    flex-direction: row;
    align-items: flex-end;
    /* position: absolute; */
    /* width: auto; */
  }

  .navbar ul li ul li a {
    font-size: 10px;
    padding: 2px;
    z-index: 1;
    width: auto;
    flex-direction: row;
  }

  .navbar-links {
    width: 80%;

  }
}





nav ul li ul li a {
  font-size: 10px;
  padding: 2px;
  text-align: center;
  z-index: index 5;
}

/* header 5new */
.contain {
  width: 100%;

}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.box {
  width: 45%;
  margin-bottom: 10px;
  text-align: left;

}

.box p {
  font-size: large;
}


.box img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 952px) {
  .box {
    width: 49%;

  }

  .container {
    width: 50%;
  }

  .boximage {
    height: 100%;
  }
}

@media only screen and (max-width: 952px) {

  .box {
    width: 80%;
  }

  .container {
    width: 100%;
  }

  .boximage {
    height: 100%;
  }
}

@media only screen and (max-width: 952px) {
  .box {
    width: 80%;
  }

  .container {
    width: 100%;
  }

  .boximage {
    height: 100%;
  }
}


/* book a chat button */


.overlay-form {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(93, 48, 200, 0.5);
  z-index: -10;
  opacity: 0;
  padding: 80px 100px;
  overflow: scroll;
  box-sizing: border-box;

}

.over1 {
  padding: 5px;
  width: 100%;
}


.overlay-form .close-btn {
  position: absolute;
  justify-content: center;
  top: 1rem;
  text-align: center;
  right: 2rem;
  width: 1.5rem;
  padding-top: 0px;
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  background-color: red;
  cursor: pointer;
}

.overlay-form h1 {
  font-size: 1rem;
  color: rgb(53, 53, 82);
}

.overlay-form p {
  font-size: 0.7rem;
  color: rgb(53, 53, 82);
  margin: 25px 0px 30px;
}

.overlay-form label {
  display: block;
  font-size: 0.7rem;
  color: rgb(53, 53, 82);
  margin-bottom: 5px;
  padding-top: 10px;
}

.overlay-form input {
  align-items: center;
  height: 1.3rem;
  background-color: #ddd;
  width: 100%;
  padding: 6px;
  font-size: 0.7rem;
  color: rgb(12, 10, 10);
  border: 0.5px solid rgb(17, 15, 15);
  outline: none;
}



.overlay-form button {
  margin-top: 10px;
  /* width: 100px; */
  height: 1.7rem;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  border: none;
  color: white;
  background: red;
  padding: 2px;
}

body.activeForm .overlay-form {
  z-index: 2;
  opacity: 1;
}


body h1 {
  font-size: 2rem;
  line-height: 1.535;
  /* font-weight: 500; */
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  letter-spacing: 0.06ch;
}

.qualification div {
  box-shadow: 5px 5px rgb(116, 114, 114);
}

.qualification h1 {
  font-size: 1.5rem;
}

.qualification p {
  font-size: 1rem;
}


body p {

  font-family: 'Roboto', 'sans-serif';

  line-height: 1.735;
  font-weight: 300;
  /* font-family: slick; */
  font-size: 1.3rem;
}

body .buttonstyl {
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 952px) {

  .main_header h1 {
    text-align: center;
  }

  body .main_header p {
    text-align: center;
  }

  .button1 {
    text-align: center;
  }
}
